@import url("https://fonts.googleapis.com/css2?family=Charm&family=Great+Vibes&family=Josefin+Sans&family=League+Gothic&family=Lobster&family=Nunito&family=Permanent+Marker&family=Poppins:wght@400;500&family=Roboto&family=Satisfy&display=swap");


*{
    border: none;
    outline: none;
    box-sizing: border-box;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;

}
:root{
    --primary:#6600EB;
    --second:#C8A4F8;
    --third:#E0CCFB;
    --fourth:#C7A3F9;
    --five:#C9A4F8;
    --white:#fff;
    --pink:#E12454;

    --d4:#D4B7F9;
    --e4:#E0CCFB;
    --blueper:#002233;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#times{
    display: none;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    font-family: josefin sans;
}
/* this is some easy comment */



.navbar {
    background: var(--pink);
}
.navbar .container {
  max-width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 15px;
  border-bottom: 1px solid var(--primary);
  font-family: sans-serif;
  font-family: poppins;
}

.navbar .container .logo {
  color: var(--white);
  font-size: 20px;
  font-weight: 800;
  position: relative;
}
.navbar .container .logo .o.white{
    color: var(--pink);
}
.navbar .container .logo .o {
  color:var(--blueper);
}
.navbar.fixed-nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    transition: all .3s ease-in-out;
    z-index: 200;
    background: var(--blueper);
    border-bottom: 1px solid var(--third);
}
.navbar .container .logo::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 70%;
  background-color: var(--e4);
  height: 2px;
}

.navbar .container .links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .container .links ul li {
  margin: 0 10px;
}

.navbar .container .links ul li a {
  font-family: poppins;
  text-transform: capitalize;
  color:var(--e4);
}

.navbar .container .links ul li a:hover {
  color: var(--white);
}
.navbar .container .fa-bars{
    color: var(--fourth);
    font-size: 24px;
    display: none;
}
/* homeeeeeeeeeeeeeeeeeeeee */
.home {
    /* background: -webkit-gradient(linear, left top, left bottom, from(#223a66c7)), url(/img/cullen.jpg) center center/cover; */
    background:linear-gradient(to top,#230e3fe3,#460e04e1), url(/img/rich-tervet-q2GNdFmhxx4-unsplash.jpg) center center/cover;
    width:100%;
    height:100vh;
    padding: 30px 10px;
    text-transform: capitalize;
    width: 100%;
    color: #F4F9FC;
    position: relative;
      /* border-bottom: 1px solid var(--blueper); */
}
  .home .container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width:100%;
 }
 .home .container h1{
     text-transform: uppercase;
     font-size: 85px;
     font-weight: 900;
     line-height: 1.6;
     /* font-family:charm; */
       font-family:league gothic;
     letter-spacing: 3px;
     padding-top: 70px;
     position: relative;
     text-align: center;
 }
 .home .container h2{
     text-transform: capitalize;
     font-size: 20px;
     font-weight: 600;
     font-family:charm;
     text-align: center;
     letter-spacing: 1px;
     margin-bottom: 10px;
 }
 .home .container p{
    font-family:charm;
    letter-spacing: 1px;

 }
 .btn{
    padding: 11px 18px;
    font-size: 16px;
    background:linear-gradient(to right,#6600EB,#E12454);
    color:var(--white);
    margin: 20px 0;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 23px;
    transition: all .3s ease-in-out;
 }
 .home .container .btns{
     padding: 11px 18px;
     font-size: 16px;
     /* background:linear-gradient(to right,#6600EB,#E12454); */
     color:var(--white);
     background: var(--primary);
     margin: 20px 0;
     cursor: pointer;
     text-transform: uppercase;
     transition: all .3s ease-in-out;
 }
 .home .container .btns:hover{
     transform: scale(1.02);
     background: var(--primary);
 }

 /* courses */
 .container .title {
     text-align: center;
     padding-bottom: 50px;
 }
.container .title .h1-title{
    padding: 10px 0;
    text-transform: uppercase;
    font-family: poppins;
    font-weight: 700;
    font-size: 35px;
    color: var(--blueper);
}
.container .title h3{
font-size:17px;
/* font-family: poppins; */
line-height:1.5;
color: #002233c5;
}
.courses .container{
    padding: 40px;
}
.courses .container .grid{
    display: grid;
    gap: 2rem;
    row-gap: 3rem;
    grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
}
.courses .container .grid .grid-item{
    padding: 2rem;
    background: var(--third);
    box-shadow: 0 0 8px var(--third);
}
.courses .container .grid .grid-item i{
    font-size: 1.6rem;
    margin-bottom: 10px;
    padding: 1rem;
    background-color: var(--d4);
    color: var(--primary);
}
.courses .container .grid .grid-item h3{
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: 700;
    color: var(--blueper);
}
.courses .container .grid .grid-item p{
    line-height: 1.3;
}
.courses .container .grid .grid-item button{
    display: inline-block;
    padding: 10px;
    margin-top: 15px;
    text-transform: capitalize;
    color:var(--white);
    background: var(--primary);
    transition: all  .3s ease-in-out;
    cursor: pointer;
}
.courses .container .grid .grid-item button:hover{
    background: var(--blueper);
    color: var(--white);
}
/* years of experience */
.experience{
    background-color: var(--e4);
}
.experience .container{
    padding: 50px 20px;
}
.experience .container .flex{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 20px 60px 20px 20px;
} 
 .experience .container .flex .img{
    width: 100%;
     max-height: 24rem;
    overflow: hidden;
    position: relative;
} *
 .experience .container .flex .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} 
.experience .container .flex .text .title{
    text-align: left;
     font-size: 40px;
    text-transform: uppercase;
    line-height: 1.4;
    margin-bottom: 0;
    font-family: poppins;
    color: rgba(0,20,250,.4);
}
.experience .container .flex .text h3{
    margin-top: -30px;
    padding-bottom: 10px;
    color: var(--pink);
    font-weight: 600;
    text-decoration: underline;
}
.experience .container .flex .text h2{
    font-size: 25px;
    line-height: 1.4;
    font-family: poppins;
    text-transform: capitalize;
    padding-bottom: 10px;
}
.experience .container .flex .text button{
    display: inline-block;
    padding: 10px;
    margin-top: 15px;
    text-transform: capitalize;
    color:var(--white);
    background: var(--primary);
    transition: all  .3s ease-in-out;
    cursor: pointer;  
}
.experience .container .flex .text button:hover{
    transform: scale(1.02);
    background: var(--blueper);
}
/* pricing */
.pricing .container .grid .grid-item{
    border-radius: 10px;
    margin-bottom: 30px;
}
.pricing .container .grid .grid-item .header{
    padding-bottom: 20px;
    font-family: nunito;
}
.pricing .container .grid .grid-item .header .class{
    font-size: 14px;
    padding: 0;
    margin-bottom: 5px;
    font-weight: 800;
}
.pricing .container .grid .grid-item .header .category{
    text-transform: capitalize;
    margin-bottom: 8px;
    font-size: 16px;
}
.pricing .container .grid .grid-item .header {
    margin-top: 20px;
    padding: 10px;
    font-size: 30px;
}
.pricing .container .grid .grid-item .header .sign{
    font-size: 14px;
    margin-left: -9px;
    position: absolute;
    color: rgba(100, 100, 100,.8)
}
.pricing .container .grid .grid-item .header .mo{
    font-size: 14px;
    color: rgba(100, 100, 100,.8)

}
.pricing .container .grid .grid-item .body button{
    display: block;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}
.pricing .container .grid .grid-item .body ul li{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-transform: capitalize;
}
.pricing .container .grid .grid-item .body ul li .icon{
    border-radius: 100%;
    font-size: 15px;
    padding:.6rem;
    margin-right: 10px;
}
.pricing .container .grid .grid-item .body ul li .icon.timess{
    color: var(--pink);
    padding:.6rem .8rem;
}
.pricing .container .grid .grid-item .body ul li .name.cancel{
    text-decoration: line-through;
    color: rgba(100, 100, 100,.8);
}
.pricing .container .grid .grid-item .header .line{
    height: 1px;
    width: 100%;
    background: var(--second);
    margin-bottom: 15px;
}
/* done */
.done{
    background:linear-gradient(to bottom,#e12453e3,#002233e5), url(/img/shana-van-roosbroek-kz5OqFT5y9o-unsplash.jpg) center center/cover;

    /* background: var(--pink); */
}
.done .container .grid{
    grid-template-columns: repeat(auto-fit,minmax(10rem,1fr));

}
.done .container .title h1{
    color:var(--white);
}
.done .container .title h3{
    color: var(--white);
    font-weight: normal;
    font-size: 16px;
}
/* entroll */
.entroll{
    background: var(--e4);
    padding: 50px 0;
}
.entroll .container .title .h1-title{
    color: var(--blueper);
}
.entroll .container .title h3{
    color: var(--blueper);
    padding: 16px 0;
}
.entroll .container .title h3 span{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--pink);
}
.entroll .container .flex{
    display: flex;
    gap: 20px;
}
.entroll .container .flex > div{
    flex: 1;
}
.entroll .container .flex ul li{
    display: flex;
     justify-content: flex-start;
    align-items: center;
 text-transform: capitalize;
 margin-bottom: 5px;
}
.entroll .container .flex ul li .icon{
    /* border-radius: 100%; */
    font-size: 15px;
    padding:.5rem;
    margin-right: 15px;
    padding: 1rem;
    background-color: var(--blueper);
    color: var(--d4);
}
.entroll .container .flex ul li .name{
    font-size: 20px;
}
.entroll .container .flex .image{
    height: 18rem;
    overflow: hidden;
}
.entroll .container .flex .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.entroll .container .flex .btn{
    border-radius: 0;
    background: var(--primary);
    text-transform: capitalize;
}
.entroll .container .flex .btn:hover{
    background: var(--blueper);
    color: var(--white);
}
/* footer */
.footer{
    /* background:linear-gradient(to top,#002233,#E12454); */
    background: #002233;
}
.footer .container .title .h1-title{
    color: var(--white);
    font-weight: 900;
    font-size: 15px;
    padding-bottom: 0;
    position: relative;
    display: inline-block;
}
.footer .container .title .h1-title::after{
    content: '';
    position: absolute;
    width: 80%;
    height: 2px;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 1px;
    background: var(--pink);
    left: 0;
    bottom: 0;
}
.footer .container .title .h1-title span{
    color:var(--pink);
}
.footer .container .grid{
    display: grid;
    row-gap: 30px;
    grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
    padding-bottom: 100px;
}
.footer .container .grid .grid-item .h3-title{
    color: var(--white);
    text-transform: uppercase;
    margin-bottom: 20px;
} 
.footer .container .grid .grid-item ul li{
    margin: 8px 0;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.3);
}
.footer .container .line{
    height: 1px;
    width: 100%;
    background:rgba(255, 255, 255, 0.3);
    margin-bottom: 15px;
}
.footer .container .bottom{
    text-align: center;
    padding: 10px 0;
}
.footer .container p{
    color:rgba(255, 255, 255, 0.3);
    font-size: 14px;
    margin-bottom: 10px;
}
.footer .container p span{
    color: var(--e4);
}
.footer .container .bottom .links{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
.footer .container .bottom .links a{
    color: var(--e4);
    font-size: 18px;
    margin: 10px;
    transition: all .3s ease-in-out;
}
.footer .container .bottom .links a:hover{
    transform: scale(1.5);
}

/* pop-up */

/* .pop{
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background: var(--d4);
    z-index: 20000;
    opacity: 0;
}
.pop.active{
    opacity: 1;
}
.pop form{ 
    background: var(--e4);
    padding: 20px 20px;
    width: 500px;
    /* width: 100%; */
    /* color: var(--e4);
} */
.pop form h3{
    font-size: 30px;
    color: var(--blueper);
    text-transform: uppercase;
    font-family: sans-serif;
}
.pop form .both{
    margin: 10px 0;
    color: #002233;
    font-family: sans-serif;
}
.pop form .both label{
    text-transform: capitalize;
    color: var(--blueper);
    margin-bottom: 5px;
    font-family: charm;
}
.pop form .both input{
    padding: 8px;
    background: transparent;
    width: 100%;
    border-bottom: 1px solid var(--blueper);
    font-family: sans-serif;
    text-transform: capitalize;
}
.pop form .both input::placeholder{
    font-family: sans-serif;
    text-transform: capitalize;
    color:#604b7a77;
    display: none;
}
.pop form .both.have{
    text-align: center;
    margin: 30px 0;
    font-size: 14px;
}
.pop form .both.have span{
    clear: var(--blueper);
    font-weight: 700;
    text-decoration: underline;
}
.pop form button{
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    text-transform: capitalize;
    color:var(--white);
    background: var(--primary);
    transition: all  .3s ease-in-out;
    cursor: pointer;  
}
.pop form button:hover{
    background: var(--blueper);
    color: var(--white);   
} 

/* teachers */
.teachers{
    background: var(--five);
}
.teachers .container{
    padding: 70px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.teachers .container .slider{
    padding: 20px;
    background: var(--e4);
    color: var(--blueper);
    width: 100%;
    max-width: 400px;
    position: relative;
}
.teachers .container .slider img{
    height: 120px;
    width: 120px;
    object-fit: cover;
    border-radius: 70%;
    border: 2px solid var(--pink);
}
.teachers .container .slider .text .namess{
    text-transform: capitalize;
    font-weight: bold;
    margin: 10px 0;
}
.teachers .container .slider .text .jop{
    font-weight: bold;
    text-transform: capitalize;
    /* text-align: center; */
    margin-bottom: 10px;
    color:var(--pink);
    font-weight: normal;
}
.teachers .container .slider .text .links a{
    padding: 10px;
    display: inline-block;
    color: var(--pink);
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.teachers .container .btn{
    padding: 8px;
    font-size: 18px;
    color: white;
    background: var(--primary);
    border-radius: 0;
    position: absolute;
    top:0%;
    right: 10px;
}
.teachers .container .slider .links{
    height: 5rem;
}
.teachers .container .slider .links a:hover{
    transition: all .2s ease-in-out;
    color: var(--blueper);
    transform: scale(1.5);
}
.teachers .container .slider .para{
    line-height: 1.6;
    font-size: 18px;
}
/* STUDENTS */
.students{
    background: var(--pink);
}
.students .container{
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 30px;
    padding: 20px;
    text-align: center;
}
.students .container .slider {
    background: transparent;
}
.students .container .slider .links{
    clear: var(--primary);
    height: auto;
}
.students .container .slider .text .namess{
    color: var(--primary);
}
.students .container .slider .text .jop{
    color: var(--d4);
}
.students .container .slider .links a:hover{
    transition: all .2s ease-in-out;
    color: var(--e4);
    transform: scale(1.1);
}
.students .container .slider .text .links a{
    color: var(--blueper);
}
/* contact */
.contact .h1-title{
    text-transform: uppercase;
    font-size: 30px;
    padding: 30px 0 3px;
    position: relative;
}
.contact .h1-title::after{
    position: absolute;
    content: '';
    width: 80%;
    height: 2px;
    transform: translateX(-50%);
    bottom: 0;
    left: 50%;
    background: var(--blueper);
}
.contact .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact .container form{
    padding: 20px;
    width: 400px;
    position: relative;
}
.contact .container form .both{
    margin: 20px 0;
}
.contact .container form .both label{
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 17px;
}
.contact .container form .both input{
    border: 1px solid var(--blueper);
    padding: 8px;
    width: 100%;
}
.contact .container form .both input::placeholder{
    color: rgba(100, 100, 100,.8);
    text-transform: capitalize;
}
.contact .container form  button{
    padding: 10px;
    font-size: 17px;
    width: 100%;
    background: var(--e4);
    text-transform: capitalize;
}















 
@media(max-width:800px){
    .navbar .container .fa-bars{
        display: block;
        cursor: pointer;
        color: #002233;
    }
    /* #times{
        display: block;
        color:var(--blueper);
        font-size: 2rem;
        cursor: pointer;
        position: absolute;
        right: 40px;
        top: 40px;
    } */
    .navbar .container .links{
        /* padding-top: 15%; */
        position: fixed;
        top: 0;
        background: var(--e4);
        width: 0%;
        height:100vh;
        left: 0;
        z-index: 10;
        transition:all .4s ease-in-out;
        z-index: 200000;
        overflow: hidden;
    }
    .navbar .container .links.active{
        width: 50%;
    }
    .navbar .container .links ul{
        display: inline-block;
        width: 100%;
        padding: 20px 10px;
    }
    .navbar .container .links ul li{
        padding: 10px;
        border-left: 4px solid var(--pink);
        margin-bottom: 5px;
    }
    .navbar .container .links ul li:hover a{
        color: var(--white);
    }
    .navbar .container .links ul li:hover{
        background: var(--pink);
        border-left: 4px solid var(--blueper);
    }
    .navbar .container .links ul li a{
        color: var(--primary);
    }
    /* -------------- */
    .home .container .lane .card{
        padding:10px;
    }
    .experience .container .flex{
    flex-direction: column;
    }
    .experience .container .flex .img{
        width: 100%;
        height: 250px;
    }
    .entroll .container .flex{
        flex-direction: column;
        flex-direction: column-reverse;
    }
      
}
@media(max-width:720px){
    .home .container h1{
        font-size: 55px;
    }
    .home .container h2{
        font-size: 25px;
    }

@media(max-width:720px){
    .home .container .lane .card .icon{
        font-size: 16px;
    }
    .home .container .lane .card .name{
        font-size: 14px;
    }
  
}
@media (max-width:400px) {
    /* .home{
        height:75vh;
    } */
    .container .title .h1-title{
        font-size: 30px;
        line-height: 1.3;
    }
    .home .container .text h2{
        font-size: 20px;
    }
    .done .container .title{
        text-align: left;
    }
    .done .container .title h1{
        font-size: 24px;
        text-align: left;
    }
}