@import url("https://fonts.googleapis.com/css2?family=Charm&family=Great+Vibes&family=Josefin+Sans&family=League+Gothic&family=Lobster&family=Nunito&family=Permanent+Marker&family=Poppins:wght@400;500&family=Roboto&family=Satisfy&display=swap");


*{
    border: none;
    outline: none;
    box-sizing: border-box;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;

}
:root{
    --primary:#6600EB;
    --second:#C8A4F8;
    --third:#E0CCFB;
    --fourth:#C7A3F9;
    --five:#C9A4F8;
    --white:#fff;
    --pink:#E12454;

    --d4:#D4B7F9;
    --e4:#E0CCFB;
    --blueper:#002233;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    font-family: josefin sans;
}
/* this is some easy comment */



.navbar {
    background: var(--pink);
}
.navbar .container {
  max-width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 15px;
  border-bottom: 1px solid var(--primary);
  font-family: sans-serif;
  font-family: poppins;
}

.navbar .container .logo {
  color: black;
  font-size: 20px;
  font-weight: 800;
  position: relative;
}

.navbar .container .logo .o {
  color:yellow;
}

.navbar .container .logo::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 70%;
  background-color: var(--e4);
  height: 2px;
}

.navbar .container .links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .container .links ul li {
  margin: 0 10px;
}

.navbar .container .links ul li a {
  font-family: poppins;
  text-transform: capitalize;
  color:var(--e4);
}

.navbar .container .links ul li a:hover {
  color: var(--white);
}
.navbar .container .fa-bars{
    color: var(--fourth);
    font-size: 24px;
    display: none;
}
/* homeeeeeeeeeeeeeeeeeeeee */
.home {
    /* background: -webkit-gradient(linear, left top, left bottom, from(#223a66c7)), url(/img/cullen.jpg) center center/cover; */
    background:linear-gradient(to top,#230e3fe3,#460e04e1), url(/img/rich-tervet-q2GNdFmhxx4-unsplash.jpg) center center/cover;
    width:100%;
    height:100vh;
    padding: 30px 10px;
    text-transform: capitalize;
    width: 100%;
    color: #F4F9FC;
      position: relative;
      /* border-bottom: 1px solid var(--blueper); */
  }
  .home .container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width:100%;
 }
 .home .container h1{
     text-transform: uppercase;
     font-size: 85px;
     font-weight: 900;
     line-height: 1.6;
     /* font-family:charm; */
       font-family:league gothic;
     letter-spacing: 3px;
     padding-top: 70px;
     position: relative;
     text-align: center;
 }
 .home .container h2{
     text-transform: capitalize;
     font-size: 20px;
     font-weight: 600;
     font-family:charm;
     letter-spacing: 1px;
     margin-bottom: 10px;
 }
 .home .container p{
    font-family:charm;
    letter-spacing: 1px;

 }
 .home .container .btn{
     padding: 10px 14px;
     font-size: 18px;
     background:linear-gradient(to right,#6600EB,#E12454);
     color:var(--white);
     margin: 20px 0;
     text-transform: uppercase;
     /* border-radius: 23px; */
 }
 












 
@media(max-width:800px){
    .navbar .container .fa-bars{
        display: block;
        cursor: pointer;
        color: #002233;
    }
    .navbar .container .links{
        position: fixed;
        top: 42px;
        background: var(--e4);
        width: 100%;
        height: auto;
        left: 0;
        z-index: 10;
        transform: translateY(-120%);
        transition:all .4s ease-in-out;
    }
    .navbar .container .links.active{
        transform: translateY(0);
    }
    .navbar .container .links ul{
        display: inline-block;
        width: 100%;
        padding: 20px 10px;
    }
    .navbar .container .links ul li{
        padding: 10px;
        /* border-bottom: 1px solid var(--fourth); */
        border-left: 4px solid var(--pink);
        margin-bottom: 5px;
    }
    .navbar .container .links ul li:hover a{
        color: var(--white);
    }
    .navbar .container .links ul li:hover{
        background: var(--pink);
        border-left: 4px solid var(--blueper);
    }
    .navbar .container .links ul li a{
        color: var(--primary);
    }
    /* -------------- */
    .home .container .lane .card{
        padding:10px;
    }
}
@media(max-width:720px){
    .home .container h1{
        font-size: 55px;
    }
    .home .container h2{
        font-size: 25px;
    }

@media(max-width:720px){
    .home .container .lane .card .icon{
        font-size: 16px;
    }
    .home .container .lane .card .name{
        font-size: 14px;
    }
}
