@import url("https://fonts.googleapis.com/css2?family=Charm&family=Great+Vibes&family=Josefin+Sans&family=League+Gothic&family=Lobster&family=Nunito&family=Permanent+Marker&family=Poppins:wght@400;500&family=Roboto&family=Satisfy&display=swap");


*{
    border: none;
    outline: none;
    box-sizing: border-box;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;

}
:root{
    --primary:#6600EB;
    --second:#C8A4F8;
    --third:#E0CCFB;
    --fourth:#C7A3F9;
    --five:#C9A4F8;
    --white:#fff;
    --pink:#E12454;

    --d4:#D4B7F9;
    --e4:#E0CCFB;
    --blueper:#002233;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#times{
    display: none;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    font-family: josefin sans;
}
/* this is some easy comment */



.navbar {
    background: var(--pink);
}
.navbar .container {
  max-width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 15px;
  border-bottom: 1px solid var(--primary);
  font-family: sans-serif;
  font-family: poppins;
}

.navbar .container .logo {
  color: black;
  font-size: 20px;
  font-weight: 800;
  position: relative;
}

.navbar .container .logo .o {
  color:yellow;
}

.navbar .container .logo::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 70%;
  background-color: var(--e4);
  height: 2px;
}

.navbar .container .links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .container .links ul li {
  margin: 0 10px;
}

.navbar .container .links ul li a {
  font-family: poppins;
  text-transform: capitalize;
  color:var(--e4);
}

.navbar .container .links ul li a:hover {
  color: var(--white);
}
.navbar .container .fa-bars{
    color: var(--fourth);
    font-size: 24px;
    display: none;
}
/* homeeeeeeeeeeeeeeeeeeeee */
.home {
    /* background: -webkit-gradient(linear, left top, left bottom, from(#223a66c7)), url(/img/cullen.jpg) center center/cover; */
    background:linear-gradient(to top,#230e3fe3,#460e04e1), url(/img/rich-tervet-q2GNdFmhxx4-unsplash.jpg) center center/cover;
    width:100%;
    height:100vh;
    padding: 30px 10px;
    text-transform: capitalize;
    width: 100%;
    color: #F4F9FC;
    position: relative;
      /* border-bottom: 1px solid var(--blueper); */
  }
  .home .container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width:100%;
 }
 .home .container h1{
     text-transform: uppercase;
     font-size: 85px;
     font-weight: 900;
     line-height: 1.6;
     /* font-family:charm; */
       font-family:league gothic;
     letter-spacing: 3px;
     padding-top: 70px;
     position: relative;
     text-align: center;
 }
 .home .container h2{
     text-transform: capitalize;
     font-size: 20px;
     font-weight: 600;
     font-family:charm;
     text-align: center;
     letter-spacing: 1px;
     margin-bottom: 10px;
 }
 .home .container p{
    font-family:charm;
    letter-spacing: 1px;

 }
 .home .container .btn{
     padding: 11px 18px;
     font-size: 16px;
     background:linear-gradient(to right,#6600EB,#E12454);
     color:var(--white);
     margin: 20px 0;
     cursor: pointer;
     text-transform: uppercase;
     border-radius: 23px;
     transition: all .3s ease-in-out;
 }
 .home .container .btn:hover{
     transform: scale(1.02);
     background: var(--primary);
 }

 /* courses */
 .container .title {
     text-align: center;
     padding-bottom: 50px;
 }
.container .title .h1-title{
    padding: 10px 0;
    text-transform: uppercase;
    font-family: poppins;
    font-weight: 700;
    font-size: 35px;
    color: var(--blueper);
}
.container .title h3{
font-size:17px;
/* font-family: poppins; */
line-height:1.5;
color: #002233c5;
}
.courses .container{
    padding: 40px;
}
.courses .container .grid{
    display: grid;
    gap: 2rem;
    row-gap: 3rem;
    grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
}
.courses .container .grid .grid-item{
    padding: 2rem;
    background: var(--third);
    box-shadow: 0 0 8px var(--third);
}
.courses .container .grid .grid-item i{
    font-size: 1.6rem;
    margin-bottom: 10px;
    padding: 1rem;
    background-color: var(--d4);
    color: var(--primary);
}
.courses .container .grid .grid-item h3{
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: 700;
    color: var(--blueper);
}
.courses .container .grid .grid-item p{
    line-height: 1.3;
}
.courses .container .grid .grid-item button{
    display: inline-block;
    padding: 10px;
    margin-top: 15px;
    text-transform: capitalize;
    color:var(--white);
    background: var(--primary);
    transition: all  .3s ease-in-out;
    cursor: pointer;
}
.courses .container .grid .grid-item button:hover{
    background: var(--blueper);
    color: var(--white);
}
/* years of experience */
.experience{
    background-color: var(--e4);
}
.experience .container{
    padding: 50px 20px;
}
.experience .container .flex{
    display: flex;
    /* flex-wrap: wrap; */
    gap: 30px;
    /* background: #000; */
    padding: 20px 60px 20px 20px;
}
.experience .container .flex .img{
    width: 100%;
   max-height: 24rem;
    overflow: hidden;
    position: relative;
}
.experience .container .flex .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.experience .container .flex .text .title{
    text-align: left;
    /* font-size: 40px; */
    text-transform: uppercase;
    line-height: 1.4;
    margin-bottom: 0;
    font-family: poppins;
    color: rgba(0,20,250,.4);
}
.experience .container .flex .text h3{
    margin-top: -30px;
    padding-bottom: 10px;
    color: var(--pink);
    font-weight: 600;
    text-decoration: underline;
}
.experience .container .flex .text h2{
    font-size: 25px;
    line-height: 1.4;
    font-family: poppins;
    text-transform: capitalize;
    padding-bottom: 10px;
}
.experience .container .flex .text button{
    display: inline-block;
    padding: 10px;
    margin-top: 15px;
    text-transform: capitalize;
    color:var(--white);
    background: var(--primary);
    transition: all  .3s ease-in-out;
    cursor: pointer;  
}
.experience .container .flex .text button:hover{
    transform: scale(1.02);
    background: var(--blueper);
}
/* pricing */
.pricing .container .grid .grid-item{
    border-radius: 10px;
}
.pricing .container .grid .grid-item .header{
    padding-bottom: 20px;
    font-family: nunito;
}
.pricing .container .grid .grid-item .header .class{
    font-size: 14px;
    padding: 0;
    margin-bottom: 5px;
    font-weight: 800;
}
.pricing .container .grid .grid-item .header .category{
    text-transform: capitalize;
    margin-bottom: 8px;
    font-size: 16px;
}
.pricing .container .grid .grid-item .header {
    margin-top: 20px;
    padding: 10px;
    font-size: 30px;
}
.pricing .container .grid .grid-item .header .sign{
    font-size: 14px;
    margin-left: -9px;
    position: absolute;
    color: rgba(100, 100, 100,.8)
}
.pricing .container .grid .grid-item .header .mo{
    font-size: 14px;
    color: rgba(100, 100, 100,.8)

}
.pricing .container .grid .grid-item .body ul li{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-transform: capitalize;
}
.pricing .container .grid .grid-item .body ul li .icon{
    border-radius: 100%;
    font-size: 15px;
    padding:.6rem;
    margin-right: 10px;
}
.pricing .container .grid .grid-item .body ul li .icon.timess{
    color: var(--pink);
    padding:.6rem .8rem;
}
.pricing .container .grid .grid-item .body ul li .name.cancel{
    text-decoration: line-through;
    color: rgba(100, 100, 100,.8);
}
.pricing .container .grid .grid-item .header .line{
    height: 1px;
    width: 100%;
    background: var(--d4);
    margin-bottom: 15px;
}
/* done */
.done{
    background:linear-gradient(to bottom,#e12453e3,#002233e5), url(/img/shana-van-roosbroek-kz5OqFT5y9o-unsplash.jpg) center center/cover;

    /* background: var(--pink); */
}
.done .container .grid{
    grid-template-columns: repeat(auto-fit,minmax(10rem,1fr));

}
.done .container .title h1{
    color:var(--white);
}
.done .container .title h3{
    color: var(--white);
    font-weight: normal;
    font-size: 16px;
}












































 
@media(max-width:800px){
    .navbar .container .fa-bars{
        display: block;
        cursor: pointer;
        color: #002233;
    }
    .times{
        display: block;
        color:var(--blueper);
        font-size: 2rem;
        cursor: pointer;
        position: absolute;
        right: 40px;
        top: 40px;
    }
    .navbar .container .links{
        padding-top: 15%;
        position: fixed;
        top: 0;
        background: var(--e4);
        width: 60%;
        height: 100vh;
        left: 0;
        z-index: 10;
        transform: translateX(-120%);
        transition:all .4s ease-in-out;
        z-index: 200000;
    }
    .navbar .container .links.active{
        transform: translateX(0);
    }
    .navbar .container .links ul{
        display: inline-block;
        width: 100%;
        padding: 20px 10px;
    }
    .navbar .container .links ul li{
        padding: 10px;
        /* border-bottom: 1px solid var(--fourth); */
        border-left: 4px solid var(--pink);
        margin-bottom: 5px;
    }
    .navbar .container .links ul li:hover a{
        color: var(--white);
    }
    .navbar .container .links ul li:hover{
        background: var(--pink);
        border-left: 4px solid var(--blueper);
    }
    .navbar .container .links ul li a{
        color: var(--primary);
    }
    /* -------------- */
    .home .container .lane .card{
        padding:10px;
    }
    .experience .container .flex{
    flex-direction: column;
    }
    .experience .container .flex .img{
        width: 100%;
        height: 250px;
    }
      
}
@media(max-width:720px){
    .home .container h1{
        font-size: 55px;
    }
    .home .container h2{
        font-size: 25px;
    }

@media(max-width:720px){
    .home .container .lane .card .icon{
        font-size: 16px;
    }
    .home .container .lane .card .name{
        font-size: 14px;
    }
  
}
@media (max-width:400px) {
    /* .home{
        height:75vh;
    } */
    .container .title .h1-title{
        font-size: 30px;
        line-height: 1.3;
    }
    .home .container .text h2{
        font-size: 20px;
    }
    .done .container .title{
        text-align: left;
    }
    .done .container .title h1{
        font-size: 24px;
        text-align: left;
    }
}